In [38]:
import pandas as pd
from datetime import date

In [46]:
wish_cal=pd.read_excel('contacts.xlsx')
wish_cal

    Name        DOB        DOA      Type  Knownfrom Whatsapp_name Mobile_no
0   Benu 1920-01-16        NaT  Personal        NaN         Wtest      xxxx
1  test1        NaT 2020-01-15  Colleage        NaN         Wtest       NaN
2  test2 2020-01-15        NaT  Relative        NaN         Priya       NaN
3  test3        NaT 2020-01-15    Social        NaN         Wtest       NaN

In [36]:
# wish_cal[wish_cal["DOB"]==pd.Timestamp(date.today())]
nons1=wish_cal.dropna(subset=['DOB'])
n2=nons1[nons1['DOB'].map(lambda x: x.strftime('%m-%d'))==date.today().strftime('%m-%d')]
n2

    Name        DOB DOA      Type  Knownfrom Whatsapp_name Mobile_no      d
0   Benu 2020-01-15 NaT  Personal        NaN         Wtest      xxxx  115.0
2  test2 2020-01-15 NaT  Relative        NaN         Priya       NaN  115.0

In [30]:
wish_cal['d']=wish_cal['DOB'].map(lambda x: 100*x.month + x.day)
wish_cal.dropna(subset=['DOB']).DOB.map(lambda x: x.strftime('%m-%d'))
wish_cal

,Name,DOB,DOA,Type,Knownfrom,Whatsapp_name,Mobile_no,d
0,Benu,2020-01-15,NaT,Personal,NaN,Wtest,xxxx,115.0
1,test1,NaT,2020-01-15,Colleage,NaN,Wtest,NaN,NaN
2,test2,2020-01-15,NaT,Relative,NaN,Priya,NaN,115.0
3,test3,NaT,2020-01-15,Social,NaN,Wtest,NaN,NaN

In [15]:
date.today().month*100+date.today().day

date.today().strftime('%m-%d')

'01-15'

In [40]:
lookups=pd.read_excel('lookups.xlsx')
lookups

  Event      Type                        Message
0   DOB   Default          Happy b'day to you :)
1   DOA   Default  Happy marriage anniversory :)
2   DOB  Relative        Janma dinara subhetsa !

In [47]:
def extract_message(wish_cal,lookups, event_type):
    """
    Inputs
    wish_cal: contact event calendar df
    lookups: wishes df
    type: type of wish
    """
    drop_null=wish_cal.dropna(subset=[event_type])
    dob_wish=drop_null[drop_null[event_type].map(lambda x: x.strftime('%m-%d'))==date.today().strftime('%m-%d')]
    joined_df=pd.merge(dob_wish,lookups[lookups.Event==event_type],how='left', left_on='Type', right_on='Type').fillna({'Message':lookups[(lookups.Event==event_type) & (lookups.Type=='Default')].iloc[0]['Message']})
    drop_nan=joined_df.dropna(subset=['Whatsapp_name'])[['Whatsapp_name','Message']]
    map_msg=drop_nan.to_dict('records')
    return {x['Whatsapp_name']:x['Message'] for x in map_msg}
    
d=extract_message(wish_cal,lookups, 'DOB')
d

{'Priya': 'Janma dinara subhetsa !'}

In [12]:
import PyWhatsapp
# import importlib
# importlib.reload(PyWhatsapp)

In [13]:
PyWhatsapp.execute(d)

Web Page Open
message is :
{'Wtest': "Happy b'day to you :)", 'Priya': 'Janma dinara subhetsa !'}
SCAN YOUR QR CODE FOR WHATSAPP WEB
QR scanned
msg ll be sent to Wtest
Message sent successfuly
Message sent to  Wtest
msg ll be sent to Priya
Message sent successfuly
Message sent to  Priya
Task Completed